In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from travel_management import read_df, analyse, time_gap_analyse, date_block_analyse, single_day_analyse, ARCTYP_analyse
from datetime import datetime, timedelta

In [2]:
df = read_df('data.pickle')
analysed = analyse(df)

1、安庆天柱山机场（代码ZSAQ），receive_time为2016年8月12日，将一天划分为八个时间段（0至3,3至6,6至9，以此类推），分别计算CTOT误差、CTOT跳变幅度、CTOT跳变次数，得到列表；

In [3]:
date = 20160503
time_gap_analyse(analysed, date)

          level_2   dif  jump_count  jump_rate
analyse1
12-15           0  12.0    1.000000   5.000000
9-12            0  12.0    0.333333   1.666667

2、安庆天柱山机场（代码ZSAQ），将一年中的receive_time分为两部分，一部分是2016年3月27日（含）至2016年10月29日（含），另一部分是剩下的日期，分别计算CTOT误差、CTOT跳变幅度、CTOT跳变次数，得到列表；

In [4]:
date_block_analyse(analysed)

                         level_2        dif  jump_count  jump_rate
analyse2
2016-3-27 to 2016-10-29        0  18.170068    0.217687   3.612245
other                          0  21.821372    0.272727   5.787879

3、安庆天柱山机场（代码ZSAQ），receive_time为2016年8月12日，分别计算CTOT误差、CTOT跳变幅度、CTOT跳变次数，得到列表；

In [5]:
date = 20160503
single_day_analyse(analysed, date)

level_2        0.0
dif           12.0
jump_count     0.5
jump_rate      2.5
dtype: float64

4、安庆天柱山机场（代码ZSAQ），receive_time为2016年8月12日，安机型（即列表中的ARCTYP，aircraft type）的不同，计算CTOT误差、CTOT跳变幅度、CTOT跳变次数，得到列表；

In [6]:
date = 20160503
ARCTYP_analyse(analysed, date)

        level_2   dif  jump_count  jump_rate
ARCTYP
A320          0   3.0         0.0        0.0
A321          0  13.0         1.0        5.0
B738          0  19.0         0.0        0.0